.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.searchField {
  padding: 10px;
  width: 450px;
  margin: 10px;
  background-color:#d1d2d3;
  outline: none;
  border: 5px solid transparent;
  transition: all .3s ease-in-out;
  font-size: 20px;
}

.searchField:hover,
.searchField:focus {
  color: #ffd901;
  background-color:#4a4950;
  border: 5px solid #ffd901;
}
