
.card__imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80%;
  overflow: hidden;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__title {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.card__subtitle {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
}

.card__description {
  font-size: 14px;
  margin: 0;
  padding: 1px;
}

.card:hover {
  box-shadow: 0 2px 5px 3px #4a4950;
}

.card:hover .card__image {
  transform: scale(1.1);
}

