.paginationWrapper {
  // width: 700px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 20px 40px;
  font-weight: 700;
}
.navBtns {
  width: 100px;
  display: flex;
  gap: 15px;
}
.button {
  font-weight: 700;
  background-color: transparent;
  width: 40px;
  height: 40px;
  padding: 10px;
  color: #4a4950;
  border: 1px solid #4a4950;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  transition: all .3s ease-in-out;
}

.button:not([disabled]):hover {
  color: #ffd901;
  background-color:#4a4950;
  border-color:#ffd901;
  box-shadow: 0px 0px 10px 5px #ffd901;
}

.button.active {
  color: #ffd901;
  background-color:#4a4950;
  border-color:#ffd901;
}

.button:disabled {
  cursor:auto;
}

