.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 350px;
  padding: 10px 0;
  justify-content: space-between;
  align-items:center;
  text-align: center;
  color: #000;
  border: 2px solid transparent;
  background-color: #fff;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.card__imageWrapper {
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__title {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.card__subtitle {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
}

.card__description {
  font-size: 14px;
  margin: 0;
  padding: 1px;
}

.card:hover {
  box-shadow: 0 2px 5px 3px #4a4950;
}

.card:hover .card__image {
  transform: scale(1.1);
}

