.item {
  border: 4px solid #4a4950;
  background-color: #d1d2d3;
  padding: 10px;
  display: flex;
}
.descriptionWrapper {
  width: 150px;
}
.description {
  font-size: 14px;
  margin: 0;
  padding: 1px;
}

.param {
  color:#524d0f;
  font-weight: 700;
  font-size: 15px;
}

.avatarWrapper {
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: auto;
}